$dark-pink: #d81b60;
$dark-pink-hover:rgb(216, 22, 93);
$light-pink: #f50057;
$light-pink-hover: #ec0053;
$font-color: #444444;



.login-container {
    max-width: 500px;
    background-color: white;
    border-radius: 7px;
    margin: 0 auto; /* Center horizontally */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center vertically */
    text-align: center;
    -webkit-box-shadow: 0px 5px 27px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 5px 27px 1px rgba(0, 0, 0, 0.3);
  }
  
.login-form {
  padding: 20px 8%;

  @media screen and (min-width: 992px) {
    padding: 20px 45px;
  }

  .form-heading{
    margin: 10px 0 35px 0;
    font-size: 2.4rem;
    color: $font-color;
  }

  .form-controls {
    margin: 30px auto;

    .form-field {
      margin: 18px 0;
      width: 100%;
    }
  }

  .social-buttons {
    display: flex;
    justify-content: space-around;

    .social-button {
      margin: 5px 15px;
      height: 58px;
      width: 58px;
      transition: all 0.2s ease-in-out;

      &:hover {
        opacity: 95%;
        transform: scale(1.1);
      }

      @media screen and (min-width: 992px) {
        height: 65px;
        width: 65px;
      }
    }
  }

  .line-break-label {
    margin: 28px auto;
    font-size: 1.4rem;
    font-weight: 600;
    color: $font-color;
    border-bottom: 1px solid rgb(204, 204, 204);
    // border-bottom: 1px solid #2f5f2d3b;
  }

  .checkbox {
    text-align: left;
  }

  .submit-button {
    color: white;
    padding: 9px 0;
    text-decoration: none;
    font-weight: 500;
    background: $dark-pink; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to left,
      $light-pink,
      $dark-pink
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to left,
      $light-pink,
      $dark-pink
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: none;

    &:hover {
      color: white;
      background: $dark-pink-hover; /* fallback for old browsers */
      background: -webkit-linear-gradient(
        to left,
        $light-pink-hover,
        $dark-pink-hover
      ); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(
        to left,
        $light-pink-hover,
        $dark-pink-hover
      ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
    }
    &:active,
    &:focus,
    &:hover {
      outline: none;
      border: none;
    }
  }

  .change-auth {
    margin: 20px 0;
    color: $font-color;

    .sign-up-link {
      color: rgb(0, 89, 255);
      text-decoration: none;
      transition: all 0.2s ease-in-out;

      &:hover {
        color: rgb(0, 77, 219);
        text-decoration: underline;
      }

      &:active,
      &:focus {
        text-decoration: none;
      }
    }
  }
}
